* {
    margin: 0;
    padding: 0;
}

    body {
        background-color: aqua;
        font-family: Arial, Helvetica, sans-serif;

    }
    .container{
        width: 960px;
        margin: 0 auto;
    }

    .cap{
        height: 100px;
        background-color: brown;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
            .cap h1 {
                text-align: center;
                color: white;
                font-size: 60px;
                line-height: 100px;
    }

    .navegacio{
        height: 50px;
        background-color: blue;
        position: fixed;
        top: 100px;
        right: 0;
        left: 0;
    }

    .esq {
        background-color: violet;
        width: 20%;
        float: left;
        position: fixed;
        top: 150px;
        left: 0;
        right: 20%;
        bottom: 200px;

    }
    .principal{
        background-color: blueviolet;
        width: 60%;
        float: left;
        overflow: scroll;
        position: fixed;
        top: 150px;
        bottom: 200px;
        left: 20%;
        right: 20%;

    }
            .principal .entrada{
                width: 90%;
                margin: 5%;
            }

            .principal .entrada h2{
                color: white;
            }
        
        
    .dre{
        background-color: violet;
        width: 20%;
        float: left;
        position: fixed;
        top: 150px;
        bottom: 200px;
        left: 80%;
        right: 0%;
    
    }

    .peu{
        background-color: brown;
        height: 200px;
        clear: both;
        position: fixed;
        bottom:  0;
        right: 0;
        left: 0;
    }




